{% extends 'base.html' %}
{% load static %}
{% block modethema %}light{% endblock %}
{% block itensmenu %}
<li class="nav-item">
    <a class="nav-link" href="#">
        <span data-feather="layers" class="align-text-bottom"></span>
        Example
    </a>
</li>
{% endblock %}

{% block main %}
<h1>Data Upload</h1>
{% comment %} {% if message != None %}
  <div id="message" class="alert alert-primary" role="alert">
    {{ message }}
  </div>
{% endif %}
<div id="message" class="alert alert-primary" role="alert">
</div>
<div class="alert alert-primary" role="alert">
    {{ dir }}
</div> {% endcomment %}
{% comment %} <div id="progress-bar"></div> {% endcomment %}
<div class="progress" id="progress" style="display: none;"  role="progressbar" aria-label="Animated striped example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
  <div class="progress-bar progress-bar-striped progress-bar-animated" id="progress-bar" style="width: 0%"></div>
</div>
<div id="process-status">
    <!-- saída será exibida aqui -->
</div>
<br>
<div>
  <textarea id="output" style="display: none;" readonly rows="10" cols="100" style="width: 100%; overflow:auto;"></textarea>
</div>
<form class="row g-3" id="upload-form" action="{% url 'upload' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-md-6">
        <label for="inputName" class="form-label">{{ form.name.label }}</label>
        {{ form.name }}
    </div>
    <div class="col-md-6">
        <label for="inputEmail" class="form-label">{{ form.email.label }}</label>
        {{ form.email }}
    </div>

    <div class="col-md-6">
        <label for="inputFastq" class="form-label">{{ form.fileFastq.label }}</label>
        <div class="input-group col-12">
            {{ form.fileFastq }}
            <button class="btn btn-outline-secondary" type="submit">Upload</button>
        </div>
    </div>
</form>
{% endblock %}
{% block script%}
<script>
$(document).ready(function() {
  $('#upload-form').submit(function(event) {
    // evitar que o formulário seja enviado tradicionalmente
    event.preventDefault();
    // enviar o formulário usando AJAX
    $.ajax({
      url: $(this).attr('action'),
      type: $(this).attr('method'),
      data: new FormData(this),
      cache: false,
      contentType: false,
      processData: false,
      xhr: function() {
        // criar um objeto XMLHttpRequest com suporte a upload de arquivo
        var xhr = new XMLHttpRequest();
        $('#progress').show();
        $('#process-status').html('Sending files...');
        xhr.upload.addEventListener('progress', function(event) {
          if (event.lengthComputable) {
            // calcular a porcentagem concluída
            var percentComplete = Math.round((event.loaded / event.total) * 100);
            // atualizar a barra de progresso com a porcentagem concluída
            $('#progress-bar').css('width', percentComplete + '%');
            $('#progress-bar').html(percentComplete + '%');
            if(percentComplete == 100){
              updateStatus();
            }
          }
        }, false);
        return xhr;
      },
      success: function(data) {
        // exibir uma mensagem de sucesso e limpar a barra de progresso
        $('#message').html(data.message);
        $('#progress').hide();
        $('#upload-form').hide();
        $('#output').show();
        window.location.replace("/runSnakemake?dirproject=" + data.dirproject + "&id=" + data.id);
      },
      error: function(xhr, status, error) {
        // exibir uma mensagem de erro e limpar a barra de progresso
        $('#progress-bar').html('Ocorreu um erro ao enviar o arquivo.');
      }
    });
  });
});

// função que atualiza a exibição do status do processo
function updateStatus() {
  $.get('/get_process_status/', function(data) {
    $('#output').show();
    $('#output').text(data.status);
    $('#process-status').html(data.statusUpload);
    $('#progress-bar').css('width', data.filePercent + '%');
    $('#progress-bar').html(data.filePercent + '%');
    setTimeout(updateStatus, 1000);  // faz a solicitação a cada segundo
  });
}
</script>
{% endblock %}