{% extends 'base.html' %}
{% load static %}
{% block style %}
  {% comment %} <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.2/dist/terminal.min.css" /> {% endcomment %}
{% endblock %}
{% block modethema %}light{% endblock %}
{% block itensmenu %}

{% endblock %}

{% block main %}
{% comment %} <ul class="nav nav-pills nav-fill gap-2 p-1 small bg-primary rounded-5 shadow-sm" id="pillNav2" role="tablist" style="--bs-nav-link-color: var(--bs-white); --bs-nav-pills-link-active-color: var(--bs-primary); --bs-nav-pills-link-active-bg: var(--bs-white);">
  <li class="nav-item" role="presentation">
    <button class="nav-link active rounded-5" id="home-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="true">Home</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link rounded-5" id="profile-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Profile</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link rounded-5" id="contact-tab2" data-bs-toggle="tab" type="button" role="tab" aria-selected="false">Contact</button>
  </li>
</ul> {% endcomment %}
<style>
{% comment %} #tableStatus, table {
  border-radius: 100px;
} {% endcomment %}
#tableStatus, table th {
  border-radius: 10px 10px 0px 0px ;
}




</style>
<h1>Processing</h1>
<br>
  {% if message != None %}
    <div class="alert alert-danger" role="alert">
      {{ message }}
    </div>
  {% endif %}

  {% if id != None %}
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-lg-7 table-responsive">
          <table id="tableStatus" class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th> ID PROJECT </th>
                    <th> STATUS </th>
                    <th> STEPS </th>
                    <th> RESULTS </th>
                </tr>
            </thead>
            <tbody id='file-list'>
              <tr>
                <td class="align-middle text-center"> {{ id }} </td>
                <td class="align-middle text-center"> 
                  {{ project.status }} 
                </td>
                <td class="align-middle text-center"> {{ project.position }} </td>
                <td class="align-middle text-center"> 
                  {% if project.status == 'Done' %}
                    <button id="btnResult" type="button" class="btn btn-success"><i class="fas fa-file"></i> View </button>
                  {% endif %}
                  {% if project.status == 'Erro' %}
                    <button id="btnErro" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#erroModal"><i class="fas fa-exclamation-triangle"></i> View </button>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% else %}
    <div class="container">
      <div class="row">
        <div class="col-md-auto">
          <div class="input-group mb-3">
            <input type="text" id="search-by-id" class="form-control" placeholder="Search by ID" aria-label="Search by ID" aria-describedby="search-by-id">
            <button class="btn btn-outline-secondary" type="button" id="button-search-by-id">Search</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="erroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p> {{ project.output|linebreaks}} </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">X</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready( function () {
    $('#tableStatus').DataTable({
      paging: false, // Remove a paginação
      searching: false, // Remove a busca
      info: false, // Remove a exibição de informações
      select: true,
      ordering: false,
      columnDefs: [
        { width: '200px', targets: [0,1,2,3] }
      ]
    });
  });
  $('#button-search-by-id').click(function(){
    var id = $('#search-by-id').val().trim();
    if (id === "") {
        $("#search-by-id").select();
    } else {
        $('#btn-search').hide();
        $('#btn-search i').removeClass('fa-search').addClass('fa-spinner fa-spin');
        window.location.replace("processament?id=" + id);
    }
  });
</script>
{% endblock %}